
<div *ngIf="shipping">
    <h2><span jhiTranslate="pharmarketApp.shipping.detail.title">Shipping</span> {{shipping.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pharmarketApp.shipping.reference">Reference</span></dt>
        <dd>
            <span>{{shipping.reference}}</span>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.shipping.name">Name</span></dt>
        <dd>
            <span>{{shipping.name}}</span>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.shipping.address">Address</span></dt>
        <dd>
            <span>{{shipping.address}}</span>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.shipping.phone">Phone</span></dt>
        <dd>
            <span>{{shipping.phone}}</span>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.shipping.contact">Contact</span></dt>
        <dd>
            <span>{{shipping.contact}}</span>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.shipping.isGrossiste">Is Grossiste</span></dt>
        <dd>
            <span>{{shipping.isGrossiste}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'shipping/'+ shipping.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
