
<div *ngIf="ordre">
    <div class="row">
        <div class="col-6">
            <h2><span jhiTranslate="pharmarketApp.ordre.detail.title">Ordre: </span> #{{ordre.id}}</h2>
            <span class="badge badge-danger">{{ordre.status}}</span>
        </div>
        <div class="col-6 text-right">
            <h2> {{ordre.customer?.name}}</h2>
        </div>
    </div>

    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="row">
        <div class="col-9">
            <div *ngFor="let pac of ordre.offre?.packs; index as idx; trackBy:trackId">
                <div class="row card" *ngIf="pac.selected">
                    <div class="card-header-sm bg-info">
                        <div class="row">
                            <div class="col-4">
                                <h4>{{pac.name}}</h4>
                            </div>

                            <div class="col-8">

                                <div class="col-12" *ngFor="let rule of pac.rules; trackBy:trackId">
                                    <span *ngIf="rule?.reduction"> A l'achat de ce pack une remise de {{rule?.reduction}}% sera appliqué sur le total</span>
                                    <span *ngIf="rule?.giftQuantity"> A l'achat d'1 pack,  {{rule?.giftQuantity}} boite(s) de ({{rule?.product?.name}}) sont offerts</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-sm-order table-sm table-responsive-sm table-striped table-hover ">
                        <thead>
                        <tr>
                            <th>Désignation</th>
                            <th>PPV</th>
                            <th>PPH</th>
                            <th>Qté Min</th>
                            <th>Règle</th>
                            <th>Qté</th>
                            <th>UG</th>
                            <th>Total TTC</th>
                            <th>TTC Remise</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let p of pac.packProducts;index as i;trackBy:trackId">
                            <td>{{p.product.name}}</td>
                            <td class="font-weight-bold">{{p.product.ppv|currency:'MAD':'symbol':'2.2-2':'fr'}}
                            </td>
                            <td class="font-weight-bold">{{p.product.pph|currency:'MAD':'symbol':'2.2-2':'fr'}}</td>
                            <td class="text-center">{{p.quantityMin}}</td>
                            <td>
                                <ul class="rule-list">
                                    <li *ngFor=" let r of p.rules">
                                        <span *ngIf="r.type.code=='reduction'">{{r.name}}</span>
                                        <span *ngIf="r.type.code=='ug'">A l'achat de {{r.quantityMin}} boîtes, {{r.giftQuantity}}  sont offertes</span>
                                    </li>
                                </ul>

                            </td>
                            <td>
                                {{p.quantity}}
                            </td>
                            <td>
                                {{p.ugQuantity}}
                            </td>
                            <td>
                            <span
                                *ngIf="p.totalTtc">{{p.totalTtc|currency:'MAD':'symbol':'2.2-2':'fr'}}</span>
                            </td>
                            <td>
                            <span
                                *ngIf="p.totalDiscounted">{{p.totalDiscounted|currency:'MAD':'symbol':'2.2-2':'fr'}}</span>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot *ngIf="pac.totalTtc">
                        <tr>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="3">Sous total {{pac.name}}</td>
                            <td class="font-weight-bold">{{pac.totalUgQuantity}}</td>
                            <td class="font-weight-bold">{{pac.totalTtc|currency:'MAD':'symbol':'2.2-2':'fr'}}</td>
                            <td class="font-weight-bold">{{pac.totalDiscounted|currency:'MAD':'symbol':'2.2-2':'fr'}}
                            </td>
                        </tr>
                        </tfoot>

                    </table>

                </div>
                <br/>
            </div>
        </div>
        <div class="col-3">
            <div class="row card">
                <div class="card-header-sm bg-primary">
                    <h4>Détails de la commande</h4>
                </div>
                <div class="col-12">
                    <div class="row">
                        <span class="text-uppercase col-8">Date d'écheance</span>
                        <h6 class="display-5 col-4">{{ordre.paymentDueDate| date:'shortDate'}}</h6>
                    </div>
                    <div class="row">
                        <span class="text-uppercase col-8">Mode de paiement</span>
                        <h6 class="display-5 col-4">{{ordre.payment?.name}}</h6>
                    </div>

                    <div class="row">
                        <span class="text-uppercase col-8">Livraison</span>
                        <h6 class="display-5 col-4">{{ordre.shipping?.name}}</h6>
                    </div>

                    <div class="row">
                        <span class="text-uppercase col-8">Mode de livraison</span>
                        <h6 class="display-5 col-4">{{ordre.shippingMode?.name}}</h6>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <span class="text-uppercase col-6">Total TTC</span>
                    <h6 class="display-5 col-6">{{totalTtc|currency:'MAD':'symbol':'2.2-2':'fr'}}</h6>
                </div>
                <div class="row">
                    <span class="text-uppercase col-6">Total Remise</span>
                    <h6 class="display-5 col-6">
                        {{totalTtc-ordre.totalPaid|currency:'MAD':'symbol':'2.2-2':'fr'}}</h6>
                </div>
                <div class="row">

                    <span class="text-uppercase col-6">Nat à payer</span>
                    <h6 class="display-5 col-6">{{ordre.totalPaid|currency:'MAD':'symbol':'2.2-2':'fr'}} </h6>

                </div>
            </div>

        </div>
    </div>


    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button" *ngIf="isEditable()"
            [routerLink]="['/order/'+ ordre.id + '/edit',{type:ordre.type}]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
