
<div *ngIf="offre">
    <h2><span jhiTranslate="pharmarketApp.offre.detail.title">Offre</span> {{offre.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pharmarketApp.offre.name">Name</span></dt>
        <dd>
            <span>{{offre.name}}</span>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.offre.start">Start</span></dt>
        <dd>
            <span>{{offre.start | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.offre.end">End</span></dt>
        <dd>
            <span>{{offre.end | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.offre.status">Status</span></dt>
        <dd>
            <span>{{offre.status}}</span>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.offre.description">Description</span></dt>
        <dd>
            <span>{{offre.description}}</span>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.offre.quantityMin">Quantity Min</span></dt>
        <dd>
            <span>{{offre.quantityMin}}</span>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.offre.amountMin">Amount Min</span></dt>
        <dd>
            <span>{{offre.amountMin}}</span>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.offre.offreType">Offre Type</span></dt>
        <dd>
            <span>{{offre.offreType}}</span>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.offre.shipping">Shipping</span></dt>
        <dd>
            <span *ngFor="let shipping of offre.shippings; let last = last">
                <a [routerLink]="['/shipping', shipping?.id ]">{{shipping.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'offre/'+ offre.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
