<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOrderDetailsLabel" jhiTranslate="pharmarketApp.orderDetails.home.createOrEditLabel">Create or edit a Order Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!orderDetails.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="orderDetails.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmarketApp.orderDetails.quantity" for="field_quantity">Quantity</label>
            <input type="number" class="form-control" name="quantity" id="field_quantity"
                [(ngModel)]="orderDetails.quantity" required/>
            <div [hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.quantity?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.quantity?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmarketApp.orderDetails.quantityShipped" for="field_quantityShipped">Quantity Shipped</label>
            <input type="number" class="form-control" name="quantityShipped" id="field_quantityShipped"
                [(ngModel)]="orderDetails.quantityShipped" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmarketApp.orderDetails.ugQuantity" for="field_ugQuantity">Ug Quantity</label>
            <input type="number" class="form-control" name="ugQuantity" id="field_ugQuantity"
                [(ngModel)]="orderDetails.ugQuantity" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmarketApp.orderDetails.ordre" for="field_ordre">Ordre</label>
            <select class="form-control" id="field_ordre" name="ordre" [(ngModel)]="orderDetails.ordre" >
                <option [ngValue]="null"></option>
                <option [ngValue]="ordreOption.id === orderDetails.ordre?.id ? orderDetails.ordre : ordreOption" *ngFor="let ordreOption of ordres; trackBy: trackOrdreById">{{ordreOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmarketApp.orderDetails.packProduct" for="field_packProduct">Pack Product</label>
            <select class="form-control" id="field_packProduct" name="packProduct" [(ngModel)]="orderDetails.packProduct" >
                <option [ngValue]="null"></option>
                <option [ngValue]="packProductOption.id === orderDetails.packProduct?.id ? orderDetails.packProduct : packProductOption" *ngFor="let packProductOption of packproducts; trackBy: trackPackProductById">{{packProductOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
