<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCustomerLabel" jhiTranslate="pharmarketApp.customer.home.createOrEditLabel">Create or edit a Customer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!customer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="customer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmarketApp.customer.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="customer.code" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmarketApp.customer.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="customer.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmarketApp.customer.firstname" for="field_firstname">Firstname</label>
            <input type="text" class="form-control" name="firstname" id="field_firstname"
                [(ngModel)]="customer.firstname" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmarketApp.customer.lastname" for="field_lastname">Lastname</label>
            <input type="text" class="form-control" name="lastname" id="field_lastname"
                [(ngModel)]="customer.lastname" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmarketApp.customer.address" for="field_address">Address</label>
            <input type="text" class="form-control" name="address" id="field_address"
                [(ngModel)]="customer.address" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmarketApp.customer.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="customer.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmarketApp.customer.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="customer.phone" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmarketApp.customer.isVip" for="field_isVip">Is Vip</label>
            <input type="checkbox" class="form-control" name="isVip" id="field_isVip"
                [(ngModel)]="customer.isVip" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmarketApp.customer.actif" for="field_actif">Actif</label>
            <input type="checkbox" class="form-control" name="actif" id="field_actif"
                [(ngModel)]="customer.actif" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmarketApp.customer.region" for="field_region">Region</label>
            <select class="form-control" id="field_region" name="region" [(ngModel)]="customer.region" >
                <option [ngValue]="null"></option>
                <option [ngValue]="regionOption.id === customer.region?.id ? customer.region : regionOption" *ngFor="let regionOption of regions; trackBy: trackRegionById">{{regionOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pharmarketApp.customer.city" for="field_city">City</label>
            <select class="form-control" id="field_city" name="city" [(ngModel)]="customer.city" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cityOption.id === customer.city?.id ? customer.city : cityOption" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
