
<div *ngIf="giftMatPromo">
    <h2><span jhiTranslate="pharmarketApp.giftMatPromo.detail.title">Gift Mat Promo</span> {{giftMatPromo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pharmarketApp.giftMatPromo.quantity">Quantity</span></dt>
        <dd>
            <span>{{giftMatPromo.quantity}}</span>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.giftMatPromo.matpromo">Matpromo</span></dt>
        <dd>
            <div *ngIf="giftMatPromo.matpromo">
                <a [routerLink]="['/materiel-promo', giftMatPromo.matpromo?.id]">{{giftMatPromo.matpromo?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.giftMatPromo.rule">Rule</span></dt>
        <dd>
            <div *ngIf="giftMatPromo.rule">
                <a [routerLink]="['/rule', giftMatPromo.rule?.id]">{{giftMatPromo.rule?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'gift-mat-promo/'+ giftMatPromo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
