
<div *ngIf="orderState">
    <h2><span jhiTranslate="pharmarketApp.orderState.detail.title">Order State</span> {{orderState.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pharmarketApp.orderState.name">Name</span></dt>
        <dd>
            <span>{{orderState.name}}</span>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.orderState.color">Color</span></dt>
        <dd>
            <span>{{orderState.color}}</span>
        </dd>
        <dt><span jhiTranslate="pharmarketApp.orderState.priority">Priority</span></dt>
        <dd>
            <span>{{orderState.priority}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'order-state/'+ orderState.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
