<div>
    <h2>
        <span jhiTranslate="pharmarketApp.product.home.title">Products</span>
        <button class="btn btn-primary float-right jh-create-entity create-product" [routerLink]="['/', { outlets: { popup: ['product-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="pharmarketApp.product.home.createLabel">
            Create new Product
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="products">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="pharmarketApp.product.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ppv"><span jhiTranslate="pharmarketApp.product.ppv">Ppv</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="pph"><span jhiTranslate="pharmarketApp.product.pph">Pph</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span jhiTranslate="pharmarketApp.product.code">Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isNew"><span jhiTranslate="pharmarketApp.product.isNew">Is New</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="refrence"><span jhiTranslate="pharmarketApp.product.refrence">Refrence</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="commercialName"><span jhiTranslate="pharmarketApp.product.commercialName">Commercial Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="marque"><span jhiTranslate="pharmarketApp.product.marque">Marque</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tva"><span jhiTranslate="pharmarketApp.product.tva">Tva</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fabricationPrice"><span jhiTranslate="pharmarketApp.product.fabricationPrice">Fabrication Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="actif"><span jhiTranslate="pharmarketApp.product.actif">Actif</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products ;trackBy: trackId">
                <td><a [routerLink]="['../product', product.id ]">{{product.id}}</a></td>
                <td>{{product.name}}</td>
                <td>{{product.ppv}}</td>
                <td>{{product.pph}}</td>
                <td>{{product.code}}</td>
                <td>{{product.isNew}}</td>
                <td>{{product.refrence}}</td>
                <td>{{product.commercialName}}</td>
                <td>{{product.marque}}</td>
                <td>{{product.tva}}</td>
                <td>{{product.fabricationPrice}}</td>
                <td><span *ngIf="product.actif" class="badge badge-success">Activé</span>
                    <span *ngIf="!product.actif" class="badge badge-danger">Désactivé</span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--button type="submit"
                                [routerLink]="['../product', product.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button-->
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <!--span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span-->
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'product/'+ product.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <!--span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span-->
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="products && products.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
